<div class="grid" id="grid">
    <div class="column-width"></div>
    {% for article in articleList %}
        <div class="lp-article__tile {{ article.articleTileSize }} {{ article.dataFilterClass }}" data-category="{{ article.dataFilterClass }}">
            <a href="{{ article.post_url }}" class="article-tile__link">
                <div
                        class="article-tile__img"
                        {% if article.default_thumnail_url !='' or article.main_thumnail_url !='' %}
                            {% if  article.main_thumnail_url !='' %}
                                style="background-image: url('{{ article.main_thumnail_url }}')"
                            {% else %}
                                style="background-image: url('{{ article.default_thumnail_url }}')"
                            {% endif %}
                        {% endif %}
                ></div>
                <div class="article-tile__description item">
                    {% if article.tileBig is defined and article.tileBig == true %}
                        <span class="tile-description__btn btn grey">18 ОКТЯБРЯ</span>
                    {% endif %}
                    <span class="tile-description__subtitle">{{ article.post_title }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
