<h2>{{ labels.title }}</h2>
<div class="form_field">
    <label for="test_result_page_id">
        Test result page id
    </label>
    <input
            id="test_result_page_id"
            placeholder="Test results page id"
            name="test-config[test_result_page_id]"
            type="number"
            class="input"
            value="{{ options.test_result_page_id }}"
    />
</div>
<div class="form_field">
    <label for="sender_name">Sender name</label>
    <input
            id="sender_name"
            placeholder="Sender name"
            name="test-config[sender_name]"
            type="text"
            class="input"
            value="{{ options.sender_name }}"
    />
</div>
<div class="form_field">
    <label for="sender_email">Sender email</label>
    <input
            id="sender_email"
            placeholder="Sender email"
            name="test-config[sender_email]"
            type="email"
            class="input"
            value="{{ options.sender_email }}"
    />
</div>
<div class="form_field">
    <label for="mail_theme">Mail theme</label>
    <input
            id="mail_theme"
            placeholder="Mail theme"
            name="test-config[mail_theme]"
            type="text"
            class="input"
            value="{{ options.mail_theme }}"
    />
</div>
<div class="form_field">
    <label for="customer_mail_theme">Customer mail theme</label>
    <input
            id="customer_mail_theme"
            placeholder="Customer mail theme"
            name="test-config[customer_mail_theme]"
            type="text"
            class="input"
            value="{{ options.customer_mail_theme }}"
    />
</div>
<div class="form_field">
    <label for="recipient">Recipient</label>
    <input
            id="recipient"
            placeholder="Recipient"
            name="test-config[recipient]"
            type="email"
            class="input"
            value="{{ options.recipient }}"
    />
</div>
<div class="form_field">
    <label for="mail">Manager mail body</label>
    <textarea
            id="mail"
            name="test-config[mail]"
            cols="80"
            rows="20"
            placeholder="Manager mail body"
    >{{ options.mail }}</textarea>
</div>
<div>
    Available variables: {tester_name}, {tester_email}, {test_name}, {test_result}, {tester_tel}, {test_date}, {test_score}
</div>
<div class="form_field">
    <label for="customer_mail">Customer mail body</label>
    <textarea
            id="mail"
            name="test-config[customer_mail]"
            cols="80"
            rows="20"
            placeholder="Customer mail body"
    >{{ options.customer_mail }}</textarea>
</div>
<div>
    Available variables: {tester_name}, {tester_email}, {test_name}, {test_result}, {tester_tel}, {test_date}, {test_score}
</div>
<div class="submit">
    <input type="submit" value="Save" />
</div>