<div class="form-group">
    <div id="question_level">
        <label for="level_counter">Question level</label>
        <input type="number" min="1" max="4" name="question_level" value="{{ options.meta.question_level.0 }}"/>
    </div>
    <div id="question-type">
        <label for="question_type">Question type</label>
        <select name="question_type" id="question_type"  onchange="questionSorter(jQuery(this).val())">
            <option value="text"     {% if options.meta.question_type.0 == 'text' %}     selected="selected" {% endif %}>Text</option>
            <option value="radio"    {% if options.meta.question_type.0 == 'radio' %}    selected="selected" {% endif %}>Radiobuton</option>
            <option value="checkbox" {% if options.meta.question_type.0 == 'checkbox'%}  selected="selected" {% endif %}>Checkbox</option>
        </select>
    </div>
    <div id="answer_counter" {% if options.meta.question_type.0 != 'checkbox' and  options.meta.question_type.0 != 'radio' %} style="display:none;" {% endif %}>
        <label for="counter">Answers counter</label>
        <input type="number" min="0" step="1" name="counter" max="20" id="counter" onchange="createAnswerFields(this.value, '{{ options.post_id }}');" value="{{ options.meta.counter.0 }}"/>
    </div>
    <div id="answer_fields">
        {% if options.meta.question_type.0 == 'checkbox' or  options.meta.question_type.0 == 'radio' %}
            {% if options.meta.counter.0 > 0 %}
                {% for i in 1..options.meta.counter.0 %}
                    <div><label for='answer_case'>{{ i }} - </label>
                        <input type='text' name='answer_case[{{ i }}]' value="{{ options.meta.answer_case[i] }}"/>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <div id="fragment" style="display:none;">
        test
    </div>
    <div id="right-answer" style="display:none;">
        <label for="right_answer">Right answer</label>
        <textarea name="right_answer" id="right_answer"></textarea>
    </div>
</div>