<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta content="IE=10" http-equiv="X-UA-Compatible">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>
   
   {% block base_stylesheets %}
      <link href="{{ theme.path }}/public/css/styles.css" media="all" rel="stylesheet">
      {% block stylesheets %}{% endblock %}
   {% endblock %}
   {% block base_scripts %}
      <script src="{{ theme.path }}/public/js/jquery.js" type="text/javascript"></script>
      <script src="{{ theme.path }}/public/js/require.js"></script>
      <script src="{{ theme.path }}/public/js/config/require.js" type="text/javascript"></script>
      <script src="{{ theme.path }}/public/js/index.js" type="text/javascript"></script>
      <script async="async" src="{% block jsEntryPoint %}{% endblock %}"></script>
      {% block scripts %}{% endblock %}
   {% endblock %}
   
   <script type='text/javascript' id="__bs_script__">
       //<![CDATA[
       document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.14.0.js'><\/script>"
           .replace("HOST", location.hostname));
       //]]>
   </script>
</head>
<body {% block body_attributes %}{% endblock %}>
<div id="wrapper" class="english">
   
   {% block header %}
      {% include 'layout-blocks/_header.twig' %}
   {% endblock %}
   
   {% include 'modules/_burger-popup.twig' with {
   "languageNav" : {
   "languageList" : [
   {'item' : 'English', 'url':'#'},
   {'item' : 'Deutsch', 'url':'#'},
   {'item' : 'Français', 'url':'#'},
   {'item' : 'Italiano', 'url':'#'},
   {'item' : 'Español', 'url':'#'},
   {'item' : 'Português', 'url':'#'},
   {'item' : 'Polska', 'url':'#'},
   {'item' : 'Russian', 'url':'#'},
   ]
   }
   } %}
   
   <main id="main">
      {% block content %}
      {% endblock %}
   </main>
   
   {% block footer %}
   {% endblock %}
</div>
</body>
</html>
