{% extends '_layout.twig' %}

{% block title %}
    {{ page.post_title }}
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block body_attributes %}
    class="contact-page"
{% endblock %}

{% block scripts %}
    <script src="{{ theme.path }}/public/js/contact-template.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <span
            data-lat = "{{ page.acf.contact_map.value.lat }}"
            data-lng = "{{ page.acf.contact_map.value.lng }}"
            id="coordinates"
    ></span>
    <div class="contacts">
        <div class="contacts__map" id="map"></div>
        <div class="contacts__place">
            <h1>
                {% if page.acf.city.value != '' %}
                    <span class="city">{{ page.acf.city.value }}</span>
                {% endif %}
                {% if page.acf.street.value != '' %}
                    <span class="street">{{ page.acf.street.value }}</span>
                {% endif %}
            </h1>
        </div>
        {% if theme_options is not empty %}
            <div class="contacts__work">
                {% if theme_options.phones is not empty %}
                    <div class="phones">
                        <ul>
                            {% for phone in theme_options.phones %}
                                <li>
                                    <a href="tel:{{ phone }}">{{ phone }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if theme_options.work is not empty %}
                <div class="time">
                    {{ theme_options.work }}
                </div>
                {% endif %}
                <div class="link">
                    {% if page.post_content is not empty %}
                        {{ page.post_content }}
                    {% endif %}
                    {% if theme_options.social is not empty %}
                        <div class="soc-net">
                            <ul class="soc-net__list">
                                {% for name,href in theme_options.social %}
                                    {% if href != '' %}
                                        <li>
                                            <a href="{{ href }}">
                                                <img src="{{ theme.path }}/public/images/{{ name }}.svg" alt="{{ name }}">
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}