{% extends '_layout.twig' %}

{% block title %}
<<<<<<< HEAD
    Article
=======
	English
>>>>>>> 157bfa3dc8d35044f3b3c1c41d45fc3d738a69d7
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block content %}
<<<<<<< HEAD
    <div class="article">
        <div class="article-header">
            <div class="article-header__banner" style="background-image: url('{{ theme.path }}/public/images/Desktop.jpg')">
                <div class="article-header__title">
                    <div class="language">
                        <span>English</span>
                    </div>
                    <h1 class="title">Страх и ненависть
                        <span>в iLingua</span>
                    </h1>
                </div>
            </div>
            <div class="article-header__specification">
                <div class="specification-holder">
                    <div class="frame">
                        <img src="{{ theme.path }}/public/images/moto.jpg" alt="">
                        <span>iLingua School</span>
                    </div>
                    <div class="subtitle">
                        <span class="name">
                            Будет совсем не страшно
                        </span>
                        <span class="descr">
                            Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-main">
            <div class="article-main__holder">
                <div class="article-main__frame">
                    <img src="{{ theme.path }}/public/images/Desktop.jpg" alt="">
                </div>
                <div class="article-main__story">
                    <div class="left-column">
                        <img src="{{ theme.path }}/public/images/Desktop.jpg" alt="">
                    </div>
                    <div class="right-column">
                        <div class="price">
                            <ul class="price-list">
                                <li class="price-list__item">
                                    <div class="name">
                                        Стоимость
                                    </div>
                                    <div class="pay">
                                        <div class="pay__row">
                                            <span class="duration">Оплата 1 месяца</span>
                                            <span class="money">660 <span class="currency">грн/мес</span></span>
                                        </div>
                                        <div class="pay__row">
                                            <span class="duration">Оплата 3 месяцев</span>
                                            <span class="money">610 <span class="currency">грн/мес</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="price-list__item">
                                    <div class="name">
                                        График
                                    </div>
                                    <div class="pay">
                                        <div class="pay__row">
                                            <span class="money">3 <span class="currency">р/нед. по </span>1.5 <span class="currency">ч</span></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="price-list__item">
                                    <div class="name">
                                        Speaking Club
                                    </div>
                                    <div class="pay">
                                        <div class="pay__row">
                                            <span class="money">3 <span class="currency">р/нед. по </span>1.5 <span class="currency">ч</span></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="txt">
                            <p>
                                Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.
                            </p>
                            <p>
                                Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.
    Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.
                            </p>
                            <span class="title">Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему?</span>
                            <p>Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер филь`ма.</p>
                        </div>
                    </div>
                </div>
                <div class="article-main__frame">
                    <img src="{{ theme.path }}/public/images/Desktop.jpg" alt="">
                </div>
                <div class="article-main__story">
                    <div class="left-column">
                        {#<img src="{{ theme.path }}/public/images/Desktop.jpg" alt="">#}
                    </div>
                    <div class="right-column">
                        <ul class="story-list">
                            <li class="story-list__item">
                                <span class="title">Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему?</span>
                                <p>Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.</p>
                            </li>
                            <li class="story-list__item">
                                <span class="title">Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся.</span>
                                <p>Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале. Почему? Потому что в оригинальной версии все настоящее - голоса актеров, окружающие звуки. Все выглядит именно так, как это задумал режисер фильма. Если вы любите фильмы, вы можете обнаружить, что они намного интереснее смотрятся в оригинале.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-more">
            <div class="article-more__holder">
                <div class="article-more__title">По теме</div>
                <ul class="article-more__list">
                    <li class="article-more__item">
                        <a class="article-more__link" href="#">
                           <div class="article-more__frame">
                               <img src="{{ theme.path }}/public/images/1.jpg" alt="">
                            </div>
                            <span class="article-more__name">
                                10 заповедей шкоы ilingua
                            </span>
                        </a>
                    </li>
                    <li class="article-more__item">
                        <a class="article-more__link" href="#">
                           <div class="article-more__frame">
                               <img src="{{ theme.path }}/public/images/2.jpg" alt="">
                            </div>
                            <span class="article-more__name">
                                10 заповедей шкоы ilingua
                            </span>
                        </a>
                    </li>
                    <li class="article-more__item">
                        <a class="article-more__link" href="#">
                            <div class="article-more__frame">
                                <img src="{{ theme.path }}/public/images/3.jpg" alt="">
                            </div>
                            <span class="article-more__name">
                                10 заповедей шкоы ilingua
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
=======

{% endblock %}
>>>>>>> 157bfa3dc8d35044f3b3c1c41d45fc3d738a69d7
