{% extends '_layout.twig' %}

{% block title %}
   {{ page.post_name }}
{% endblock %}

{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block body_attributes %}
   class="result-page"
{% endblock %}

{% block content %}
   {% include 'modules/_result-banner.twig' %}

   <div class="result-content">
      <h3 class="overall-result">{{ test_title }} <span>{{ test_answers_from_questions }}</span></h3>
      {% if test_answers is not empty %}
         {% for level in test_answers %}
            <div class="result-list">
               <h4>{{ loop.index }} - й уровень</h4>
               {% if level is not empty %}
                  {% for answer in level %}
                     <div class="answer-holder">
                        <div class="question">{{ answer.title }}</div>
                        {% if answer.user_answer is iterable %}
                           {% for user_answer in answer.user_answer %}
                              <div
                                  {% if user_answer in answer.right_answer %}
                                      class="right-answer"
                                  {% else %}
                                      class="wrong-answer"
                                  {% endif %}
                              >
                                  {% if user_answer in answer.right_answer %}
                                      <img src="{{ theme.path }}/public/images/success.png" alt="">
                                  {% else %}
                                      <img src="{{ theme.path }}/public/images/wron.png" alt="">
                                  {% endif %}
                                 <span>{{ user_answer }}</span>
                              </div>
                           {% endfor %}
                        {% else %}
                           <div
                              {% if answer.right_answer !='' %}
                                  {% if answer.cached_score !=0 %}
                                      class="right-answer"
                                  {% else %}
                                      class="wrong-answer"
                                  {% endif %}
                              {% else %}
                                  class="empty-answer"
                              {% endif %}
                           >
                               {% if answer.right_answer !='' %}
                                   {% if answer.cached_score !=0 %}
                                       <img src="{{ theme.path }}/public/images/success.png" alt="">
                                   {% else %}
                                       <img src="{{ theme.path }}/public/images/wron.png" alt="">
                                   {% endif %}
                               {% endif %}
                              <span>{{ answer.user_answer }}</span>
                           </div>
                        {% endif %}
                     </div>
                  {% endfor %}
               {% endif %}
            </div>
         {% endfor %}
      {% endif %}
   </div>
{% endblock %}