<div id="options container">
	<div class=" lp-community__filter-list">
		<div class="element transition metal" data-category="transition"></div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="phone" class="btn grey">ВСЕ</a>
		</div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="laptop" class="btn grey filter">О ШКОЛЕ</a>
		</div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="phone" class="btn grey filter">РАЗВЛЕЧЕНИЯ</a>
		</div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="toy" class="btn grey filter">ЖИЗНЬ</a>
		</div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="book" class="btn grey filter">ГРАММАТИКА</a>
		</div>
		<div class="lp-community__filter-item">
			<a href="#btn" data-category="all" class="btn grey filter">ГРАММАТИКА</a>
		</div>
	</div>
</div>

<div id="article-list"></div>

{#<div class="container">#}
	{#<div class="row-fluid">#}
		{##}
		{#<div class="col-md-8 col-md-offset-2">#}
			{#<h1 class="header">Product Listing</h1>#}
		{#</div>#}
		{##}
		{#<div class="col-md-2 col-md-offset-2">#}
			{#<div class="filters">#}
				{#<p class="filter btn btn-warning" data-category="phone">Phones</p>#}
				{#<p class="filter btn btn-danger" data-category="laptop">Laptops</p>#}
				{#<p class="filter btn btn-primary" data-category="toy">Toys</p>#}
				{#<p class="filter btn btn-success" data-category="book">Books</p>#}
				{#<p class="filter btn btn-default" data-category="all">All</p>#}
			{#</div>#}
		{#</div>#}
		{##}
		{#<div class="col-md-6">#}
			{#<div id="products-list">#}
			{#</div>#}
		{#</div>#}
	{##}
	{#</div>#}
{#</div>#}




{#<div class="lp-article__holder">#}
	{#<figure class="lp-article__tile--big school item"#}
			{#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#<figcaption class="article-tile__description">#}
			{#<a href="#" class="tile-description__btn btn grey">18 ОКТЯБРЯ</a>#}
			{#<h4 class="tile-description__title">Кино-клуб</h4>#}
			{#<span#}
				{#class="tile-description__subtitle">Будем ахать и охать. Моральные и этические принципы оставим дома </span>#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--middle party item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#10 заповедей школы iLingua#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small life item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small life item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small life item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small gramm item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small gramm item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small gramm item">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description item">#}
			{#Гуру-тичеры#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--high">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#Как сделать хороший#}
			{#подарок#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--high">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#Как сделать хороший#}
			{#подарок#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--middle">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#110 способов повысить свою#}
			{#зарплату#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#120 способов повысить свою#}
			{#зарплату#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--middle">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#130 способов повысить свою#}
			{#зарплату#}
		{#</figcaption>#}
	{#</figure>#}
	{#<figure class="lp-article__tile--small">#}
		{#<div class="article-tile__img"#}
			 {#style="background-image: url('{{ theme.path }}/public/images/moto.jpg')">#}
		{#</div>#}
		{#<figcaption class="article-tile__description">#}
			{#140 способов повысить свою#}
			{#зарплату#}
		{#</figcaption>#}
	{#</figure>#}
{#</div>#}
