{% if posts %}
	<div class="grid" id="grid">
		{% for post in posts %}
			<div class="lp-article__tile
			{% if loop.index == 1 %}
			     big
			{% elseif loop.index % 2 == 0 %}
			     high
			{% else %}
			      middle
			{% endif %}
			 {{ post.dataFilter }}" data-category="{{ post.dataFilter }}">
				<a href="{{ post.post_url }}" class="article-tile__link">
					<div class="article-tile__img"
                    {% if post.default_thumnail_url !='' or post.main_thumnail_url !='' %}
                        {% if  post.main_thumnail_url !='' %}
                            style="background-image: url('{{ post.main_thumnail_url }}')"
                        {% else %}
                            style="background-image: url('{{ post.default_thumnail_url }}')"
                        {% endif %}
                    {% endif %}
                    >
					</div>
					<div class="article-tile__description item">
						{% if post.dataEvent  == true %}
							<span class="tile-description__btn btn grey">{{ post.dataEventDate }}</span>
						{% endif %}
						<span class="tile-description__subtitle">{{ post.post_title }}</span>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endif %}